altair==4.2.2
beautifulsoup4==4.12.2
lxml==4.9.2
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pandas==2.0.1
pip==23.1.2
protobuf==3.20.3
pyarrow==11.0.0
requests==2.30.0
stqdm==0.0.5
streamlit==1.22.0
tqdm==4.65.0
watchdog==3.0.0
